.head1 {
  color: white;
  font-size: 30px;
  font-weight: 500;
  text-align: start;
}
.head2 {
  color: #b6bec8;
  font-size: 16px;
}
.p33 {
  color: #d2d6db;
  font-size: 16px;
  text-align: center;
}
